@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { 
    height: 100%; 
    margin: 0; 
    padding: 0; 
    @apply font-sans text-slate-900 bg-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-headings;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-50;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full border-2 border-gray-50;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}

/* Swiper overrides */
.swiper-button-next, .swiper-button-prev {
  @apply !text-primary-dark !w-10 !h-10 bg-white/50 backdrop-blur-md rounded-full after:!text-xl transition-all hover:bg-white;
}

.swiper-pagination-bullet-active {
  @apply !bg-primary;
}

/* Utilities */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
